.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00255e;
    padding: 1rem;
  }
  
  .navbar-logo {
    color: white;
    font-size: 1.5rem;
  }
  
  .navbar-buttons {
    display: flex;
  }
  
  .nav-button {
    background-color: #003f7e;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.5rem 0.5rem;
  }
  
  .nav-button:hover {
    background-color: #004fb6;
  }
  