.trip-box {
    background: #D9D9D9;
    border-radius: 25px;
    padding: 1rem;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
  
  /* Name */
  .trip-box .name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem; /* Relative font size */
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center; /* Center text horizontally */
    text-align: center;
    color: #000000;
  }
  
  /* Location and Date */
  .trip-box .location, .trip-box .date {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #000000;
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  /* Icons */
  /* .trip-box .icon {
    width: 23px;
    height: 23px;
    background: #1D1B20;
    margin-right: 0.5rem;
  } */
  
  /* Calendar */
  /* .trip-box .calendar {
    width: 23px;
    height: 23px;
    border: 2px solid #1E1E1E;
    margin-right: 0.5rem;
  } */
  